@(user: models.User, loginForm: Form[models.users.Login], users: List[models.User], filter: String, moderators: List[models.User])

@main("Moderators",loginForm, user){



    <div class="container">

        <h1>Moderators</h1>
        <br/>
        <br>

        <div class="row">
            <div class="col-md-3">

                    <button class="btn btn-primary" data-toggle="collapse" data-target="#list">Show Moderators</button>

                    <div id="list" class="collapse">
                        <ul class="list-group">
                                @for(mod <- moderators){
                                    <li class="list-group-item">@mod.getUsername</li>
                                }
                        </ul>
                    </div>
                    <br>
            </div>

            
        
            <div class="col-md-9">

                    <div id="actions" style="float:right;">
                            <form action="@routes.HomeController.moderators()" method="GET">
                              <input type="search" id="searchbox" name="filter" value="@filter" placeholder="Search for User">
                              <input type="submit" id="searchsubmit" value="Search" class="btn-md btn-primary">
                            </form>
                    </div>

                <br>
        
                <h2>Add/Remove Moderator Priveleges</h2>
                <p>Add or remove moderator privileges by searching for a user and then click the "Add Moderator"/"Remove Moderator" button. For a list of moderators, click the "List current moderators" button.</p>
                <table class="table">
                <thead>
                    <tr>
                    <th>Username</th>
                    <th>Current Role</th>
                    <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @for(u <- users){
                        @if(u.getRole.equals("mod")){
                            <tr class="success">
                        } else if(u.getRole.equals("user")){
                            <tr class="warning">
                        }
                    
                    <td>@u.getUsername</td>
                    <td>@u.getRole</td>
                    <td>@u.getEmail</td>
                        <td>
                            @if(u.getRole.equals("mod") || u.getRole.equals("user")){
                            <a href="@routes.HomeController.makeModerator(u.getUsername, filter)">
                                
                                <button  type="button" class="btn btn-primary btn-xs">
                                    @if(u.getRole.equals("mod")){
                                        Remove moderator
                                    } else if(u.getRole.equals("user")){
                                        Make moderator
                                    }
                                </button>
                            </a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
                </table>
            </div>
        </div>
    </div>
        
      

}