.caroselImage{
    width:100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: white;
    text-decoration: none;
}

.jumbotron{
    background-color: #DDBD95;
}

#logoStore{
    width: 20em;
}