.addToCartBtn{
    background: #d86565;
    background-image: linear-gradient(to bottom, #da8181, #da4753);
    border-radius: 1em;
    font-family: Arial;
    color: black;
    font-size: 1em;
    padding: 10px 15px 10px 15px;
}

.img-container { position: relative; }

.img-container .top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .80;
    float:left;
    width:15em;
}

.basket{
    position:fixed;
    right:0em;
    top:10em;
    width:5.5em;
    z-index:2;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.number{
    position:fixed;
    right:-4em;
    top:13.4em;
    width:5.5em;
    z-index:3;
    color:white;
}

.numberFuller{
    position:fixed;
    right:-3.7em;
    top:13.4em;
    width:5.5em;
    z-index:3;
    color:white;
}

.icons{
    position: relative;
    z-index: 999;
    width:1.5em;
    float:left;
    margin-top:.3em;
    margin-right:.3em;
    margin-left:0em;
}
