.banner{
    width:100%;
}

#title{
    color:white;
    text-align: center;
}

#logoReview{
    width: 5em;
    float:left;
    padding-top:.2em;
}
#logoReviewRight{
    width: 5em;
    float:right;
    padding-top:.2em;
}

#reviewBody{
    background-color: rgb(26, 85, 122);
    border-radius: 10px;
    padding: 1em;
    color:white;
}

h2{
    text-align: center;
}

.img-container { position: relative; }

.img-container .top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width:100%;
    opacity: .7;
  }

  .tile{
      width: 12em;
      float: left;
      padding-right: 1em;
  }
  
  #review{
    white-space: pre-line;
    font-size: 1.5em;
  }

  #star{
    width:1.6em;
  }