@(user: models.User, loginForm: Form[models.users.Login], reviewForm: Form[models.Review])
@import helper._

@main("Add a Review", loginForm, user) {
  

  <div class="container">

    <img style="width:12em; float:right;" src="@routes.Assets.versioned("images/logos/logoShader.png")">

    <br>

    <h1 style="text-align:center;">Add a Review</h1>

    <br>
    <br>

    @form(action=routes.HomeController.addReviewSubmit(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data"){
    @CSRF.formField

    @inputText(reviewForm("name"), '_label -> "Name", 'class -> "form-control", '_help -> "")
    @inputText(reviewForm("caption"), '_label -> "Caption", 'class -> "form-control", '_help -> "")

    @textarea(reviewForm("review"), '_label -> "Review", 'class -> "form-control", '_help -> "")
    @inputText(reviewForm("rating"), '_label -> "Rating (1-10)", 'class -> "form-control", '_help -> "")
    
    @select(
      reviewForm("author"),
      options(User.listAdmins),
      '_label -> "Author",
      '_default -> "Choose Author",
      '_disabled -> Seq("null", "null"),
      '_help -> "",
      'class -> "form-control"
    )

    @select(
      reviewForm("year"),
      options(Review.options),
      '_label -> "Year",
      '_default -> "Choose Release Year",
      '_disabled -> Seq("null", "null"),
      '_help -> "",
      'class -> "form-control"
    )

    <div style="background-color: rgb(228, 204, 204); padding:.1em;" class="jumbotron">
    @for((value, name) <- Genre.options){
      <input type="checkbox" name="genreSelect[]" value="@value"
      />@name<br>
    }
    </div>

    <label>Banner Image Upload (Displayed at: 1660x780)</label>
    <input class="btn-sm btn-default" type="file" name="upload">
    <br>

    <label>Tile Image Upload (Displayed at: 300x300)</label>
    <input class="btn-sm btn-default" type="file" name="uploadTile">
    <br>
    

    <div class="actions">
        <input type="submit" value="Add Review" class="btn btn-primary">
        <a href="@routes.HomeController.index()">
            <button type="button" class="btn btn-warning">Cancel</button>
        </a>
    </div>

    <br>
  
  </div>
  }

}
