@(user: models.User, loginForm: Form[models.users.Login], reviews: List[models.Review], env: play.api.Environment)

@main("Home", loginForm, user) {

  <head>
      <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/index.css")">                
  </head>

  <div class="container-fluid">

      <div class="row">
        <div class="col-lg-9">

          <!-- active, newest review -->
          <div id="indexCarousel" class="carousel slide" data-ride="carousel">
            <div class = "carousel-inner">
              <div class = "item active"> 
                <a href="@routes.HomeController.review(reviews(0).getId)"> 
                  @if(env.resource("public/images/gamePictures/" + reviews.get(0).getId + ".jpg").isDefined) {
                    <img class="caroselImage" src="/assets/images/gamePictures/@(reviews.get(0).getId + ".jpg")"/>
                  } else {
                    <img class="caroselImage" src="/assets/images/misc/notFoundBanner.png"/>
                  }
                  <div class="carousel-caption d-none d-md-block">
                  <h2>@reviews.get(0).getName</h2>
                  <p><i>@reviews.get(0).getCaption</i></p>
                  
                </a>
              </div>
            </div>
            <!-- Cycle through review 1-4 -->
            @for(i <- 1 to (reviews.size -1)){
              <div class = "item">  
                <a href="@routes.HomeController.review(reviews(i).getId)"> 
                  @if(env.resource("public/images/gamePictures/" + reviews.get(i).getId + ".jpg").isDefined) {
                    <img class="caroselImage" src="/assets/images/gamePictures/@(reviews.get(i).getId + ".jpg")"/>
                  } else {
                    <img class="caroselImage" src="/assets/images/misc/notFoundBanner.png"/>
                  }
                <div class="carousel-caption d-none d-md-block">
                <h2>@reviews.get(i).getName</h2>
                <p><i>@reviews.get(i).getCaption</i></p>
                </a>
                </div>
              </div> 
              }  
              <a class="left carousel-control" href="#indexCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#indexCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div><!--  end of carosel -->      
            </div> <!-- end of col -->
          </div>  <!-- end of row -->
        
      <div class="col-lg-3">
          @if(flash.containsKey("success")){
            <div class="alert alert-success">
              @flash.get("success")
            </div>
          }
          <a href="@routes.HomeController.store">
            <div class="jumbotron">
              
              <h2>Store</h2>
              <hr>

              <p>Check out our store page to get some FluxGaming merch to show your friends!</p>

              <img id="logoStore" src="@routes.Assets.versioned("images/logos/logoShader.png")">

            </div>
          </a>
      </div>

      <!--  end of container -->
  
  </div> 
}
