@(title: String, loginForm: Form[models.users.Login], user: models.User)(content: Html)
@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/logos/logoShader.png")">
    </head>
    <body>
        <!--- NAVBAR -->
        <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
          <div class="container-fluid">
          <a href="/"><img id="logo" src="@routes.Assets.versioned("images/logos/logoBanner.png")"></a>
            <div class="navbar-header"><a class="navbar-brand" href="/"></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="/">Home</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/store">Store</a></li>
                <li><a href="/">Contact</a></li>
                                <!-- DROPDOWN MENU -->
                                @if(user != null){
                                  @if(user.getRole.equals("admin") || user.getRole.equals("mod")){
                                <li class="dropdown">
                                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Moderator Actions
                                  <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="/addReview">Add Review</a></li>
                                    @if(user.getRole.equals("admin")){
                                    <li class="divider"></li>
                                    <li><a href="/addProduct">Add a Product</a></li>
                                    <li><a href="@routes.HomeController.salesReport(0)">Sales/Stock Report</a></li>
                                    <li><a href="/moderators">Moderators</a></li>
                                    }
                                  </ul>
                                </li>
                                  }
                                }
              </ul>
              <ul class="nav navbar-nav navbar-right">
                @if(user != null){
                  <li><a class="dropdown-toggle" data-toggle="dropdown" href="/">@user.getUsername()
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/viewOrders">Orders</a></li>
                    </ul>
                </li>
                  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out </a></li>                    
                } else {
                  <li><a href="/register" ><span class="glyphicon glyphicon-edit"></span> Register</a></li>
                  <li><a href="#" id="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
              </ul>
            </div>
          </div>
        </div>

            <!-- The Modal -->
            @if(loginForm != null){ 
    <div id="myModal" class="modal">     
      <!-- Modal content -->
      <div class="modal-content">
          <span class="close">&times;</span>
          <img id="loginLogo" src="@routes.Assets.versioned("images/logos/logoShader.png")">
          <h2>Login</h2> 
           
          @if(loginForm.hasGlobalErrors){
              <script>
                  setTimeout(function(){
                          document.getElementById('login').click();
                         },2);
              </script>
            <br>
            <p class="alert alert-warning">
              @loginForm.globalError.message
            </p>
          }
        
  
  
          @helper.form(action = controllers.routes.HomeController.loginSubmit()){
          @CSRF.formField
  
          <div class="form-group">
              @inputText(loginForm("username"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Username")
          </div>
  
          <div class="form-group">
             @inputPassword(loginForm("password"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Password")
          </div>
  
          <a href="@routes.HomeController.register"> Already a member? Click here to log-in</a>
          <br>
          <br>

          <div class="form-group">
              <input type="submit" value="Sign in" class="btn btn-primary">
          </div>
        }}
        </div>
      </div>
       
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

        @content

        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
