@import play.api.Play.current
@import models.shopping._
@import models.products._

@(user: models.User, loginForm: Form[models.users.Login] ,orders: List[ShopOrder])

@main("Orders", loginForm, user) {

    <h2>Order History</h2>

    <br>
    <br>
    <div class="row">

        @for(i <- orders.indices) {
            <div class="container"> 
            <strong><p>Purchased On: @orders.get(i).getOrderDate</p></strong>
              
            <div class="col-md-10">
                @if(flash.containsKey("success")) {
                    <div class="alert alert-success">
                      @flash.get("success")
                    </div>
                }
        
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Item Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                    @for(o <- orders.get(i).getItems) {
                        <tr>
                            <td>@o.getProduct.getName</td>
                            <td>@o.getProduct.getDescription</td>
                            <td>&euro; @("%.2f".format(o.getPrice))</td>
                            <td>@o.getQuantity()</td>
                            <td>&euro; @("%.2f".format(o.getItemTotal))</td>
                        </tr>
                    }            
                </tbody>
            </table>
            <div class="row">
                    <div class="col-md-12">
                        <p class="text-right"><strong>Order Total: &euro; @("%.2f".format(orders.get(i).getOrderTotal))</strong></p>
                    </div>  
                </div>
            </div>
        </div>

        <hr>
        }
    </div>


}