@import play.api.Play.current
@import models.shopping._
@import models.products._

@(user: models.User, loginForm: Form[models.users.Login] ,orders: List[ShopOrder])

@main("Orders", loginForm, user) {

    <div class="row">

            <h2 style="padding-left: 1em">View Orders</h2>
            <br>

        @for(i <- orders.indices) {
              
            <div class="col-md-9">
                @if(flash.containsKey("success")) {
                    <div class="alert alert-success">
                      @flash.get("success")
                    </div>
                }
                
                <h2 style="clear: both">Order: @(i+1)</h2>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <!-- The header row-->
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Item Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                        <!-- Start of For loop - For each p in products add a row -->
                    @for(o <- orders.get(i).getItems) {
                        <tr>
                            <td>@o.getProduct.getName</td>
                            <td>@o.getProduct.getDescription</td>
                            <td>&euro; @("%.2f".format(o.getPrice))</td>
                            <td>@o.getQuantity()</td>
                            <td>&euro; @("%.2f".format(o.getItemTotal))</td>
                        </tr>
                    }<!-- End of For loop -->                
                </tbody>
            </table>
            <div class="row">
                    <div class="col-md-3">
                            <p class="text-left">
                                <a href="@routes.ShoppingController.cancelOrder()" class="btn btn-danger btn-sm" onclick="return confirmDel();">
                                <span class="glyphicon glyphicon-trash"></span> Cancel Order</a>
                            </p>
                        </div> 
                    <div class="col-md-9">
                        <p class="text-right"><strong>Order Total: &euro; @("%.2f".format(orders.get(i).getOrderTotal))</strong></p>
                    </div>  
                </div>
            </div> 
        }
    </div>


}