@(user: models.User, loginForm: Form[models.users.Login], reviews: List[models.Review], env: play.api.Environment, genres: List[models.Genre])

@main("Reviews", loginForm, user) {

  <head>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/reviews.css")">                
  </head>

  <h1 style="text-align:center;">Reviews</h1>

        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="list-group">
            <a href="@routes.HomeController.reviews(0)" class="list-group-item">All Genres</a>
            @for(g <- genres){
              <a href="@routes.HomeController.reviews(g.getId)" class="list-group-item"> @g.getName
                <span class="badge">@g.getReviews.size()</span>
              </a>
            }
          </div>
        </div>

  @for(r <- reviews){
    <div class="col-md-3">
          <div class="gradientBoxesWithOuterShadows">
              <!-- admin buttons -->
              @if(user != null){
                @if(user.getRole=="admin"){
                    
                    <a href="@routes.HomeController.deleteReview(r.getId)">
                    <img class="icon" src="/assets/images/misc/bin.png"/>
                    </a>
                    <a href="@routes.HomeController.updateReview(r.getId)">
                    <img class="icon" src="/assets/images/misc/edit.png"/>
                    </a>
                }
              }
            <a href="@routes.HomeController.review(r.getId)"> 
            @if(env.resource("public/images/gamePictures/" + r.getId + "Tile.jpg").isDefined) {
              <img class="tile" src="/assets/images/gamePictures/@(r.getId + "Tile.jpg")"/>
            } else {
              <img class="tile" src="/assets/images/misc/noImage.png"/>
            }
        
            <h3><u>@r.getName</u></h3>
            <h4>@r.getCaption</h5>
            <h5>- @r.getAuthor</h5>

          </div> 
        </div>
    
  }

}
